body{
  background-color: black;
}

.title{font-family: 'Mountains of Christmas', cursive;
  color: white;
  text-align: center;
  font-size: 100px;
}
.paragraph{
  color: #85392C
}

.paragraph{
  background-color: orange;
  font-size: 30px;
}

.nav{
  text-align: center;
  background-color: orange

}
.navbar{

}

.navlink{
  font-size: 30px;
}

a{font-family: 'Literata', serif;
  text-decoration: none;
  color: black;
}
.juanito{
  display: block;
  margin: 0 auto;
  border-radius:80%;
}

.code{
  width:800px;
  display: block;
  margin: 0 auto;
  border-radius: 20%;
}

.Capture{
  width:400px;
  display: block;
  margin: 0 auto;
  border-radius: 20%;
}
